/* MROHLogo.css */

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  animation: scaleUp 4s infinite ease-in-out;
}

.logo-text {
  font-size: 3rem;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  animation: glow 2s infinite alternate;
  text-transform: uppercase;
}

.logo-svg {
  width: 150px;
  height: 150px;
  animation: scaleUp 4s infinite ease-in-out;
}

.logo-path {
  fill: none;
  stroke: #ff0055;
  stroke-width: 3;
  stroke-dasharray: 10;
  animation: dash 3s linear infinite;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 10px #ff0000,
      0 0 20px #ff0000,
      0 0 30px #ff0000;
  }
  50% {
    text-shadow:
      0 0 20px #00ff00,
      0 0 40px #00ff00,
      0 0 60px #00ff00;
  }
  100% {
    text-shadow:
      0 0 10px #ff0000,
      0 0 20px #ff0000,
      0 0 30px #ff0000;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
